*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("anh_nen.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }

  form label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
  }

  form input[type=email], form input[type=text], form input[type=password], form input[type=date] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.2em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
  }

  form input[type=email], form input[type=text], form input[type=password], form input[type=date]:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #4eb8dd;
  }

  form {
    display: block;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  form .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
  }

  form .inputGroup:last-of-type {
    margin-bottom: 0;
  }

  form .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
  }

  form .inputGroup1 .helper1 {
    top: 0;
    left: 0;
    transform: translate(0.5em, 1.5em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: 0.65;
    pointer-events: none;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
  }

  form .inputGroup1.focusWithText .helper {
    transform: translate(1em, 1em) scale(0.65);
    opacity: 1;
  }

  form .inputGroup2 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
  }

  form .inputGroup2 .helper2 {
    top: 0;
    left: 0;
    transform: translate(0.5em, 1.5em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: 0.65;
    pointer-events: none;
    transition: transform 0.2s ease-out, opacity 0.2s linear;
  }

  form .inputGroup2.focusWithText .helper {
    transform: translate(1em, 1em) scale(0.65);
    opacity: 1;
  }

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4eb8dd;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-family: inherit;
    font-size: 1.55em;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    border: solid 2px #217093;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    margin-bottom: 2em;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  form button:hover, form button:active {
    background-color: #217093;
  }

  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }